
@import url('https://fonts.googleapis.com/css2?family=Molengo&family=Nunito:wght@300&display=swap');


* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  background-color: #261C1A;
}

/* HomePage styles */

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  height: 100%;
}
.gutter {
  background-color: #594842;
}

.content {
  grid-column: 2 / 3;
  display: flex;
  flex-flow: column;
  border-left: 1px solid #A69992;
  border-right: 1px solid rgb(166, 153, 146);
  box-shadow: 0 0 6px 2px rgba(217, 203, 196, 0.4);
  z-index: 3;
}

.greeting {
  font-family: 'Molengo', sans-serif;
  color:#D99C79;
  font-size: 2.5rem;
  text-align: center;

}

.heading {
  margin-top: 3vh;
  margin-bottom: 0;
}

.subheading {
  margin: 0;
  transform: translateX(-3%);
}

.subheading:after {
  content: "Human";
  position: absolute;
  margin-inline-start: 0.25em;
  opacity: 0;
  animation: scrollup 3s infinite, cycle 12s 1s linear infinite;
}

@keyframes scrollup {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  50% {
    opacity: 1;
    transform: translateY(4%);
  }
  95% {
    opacity: 0;
  }


}

@keyframes cycle {

  25% {
    content: 'Developer';
  }
  50% {
    content: "Musician";
  }
  75% {
    content: "Creator";
  }

}

.component-view {
  display:flex;
  justify-content: center;
  flex: 1;
}
/* Social Links and tech badges */
.social-links, .tech-used {
  display: flex;
  flex-flow: column;
  padding: 10vh 0;
  align-items: center;
}


.fa-github, .fa-linkedin, .fa-html5, .fa-css3, .fa-js-square, .fa-react, .fa-vuejs, .fa-envelope {
  font-size: 3rem;
  color:#A69992;
  margin: 5vh 0;
  transition: 0.3s;
}

.fa-html5 {
  color: #E68171;
}

.fa-css3 {
  color: #22A2DF;
}

.fa-js-square {
  color: #EBD64C;
}
.fa-react {
  color: #61DBFB;
}

#mongodb {
  height: 125px;
  width: 125px;
}

#postgres {
  height: 60px;
  width: 60px;
  margin: 5vh 0;
}

.fa-github:hover, .fa-linkedin:hover,.fa-envelope:hover {
  color: rgb(242, 242, 242);
  transform: scale(1.2)
}

/* AboutMe styles */

.about-me-copy-wrapper {
  overflow-y: scroll;
  background-color: #A69992;
  border-radius: 10px;
  width: 80%;
  font-family: 'Nunito', sans-serif;
  color: #261C1A;
  padding: 0 3vw;
  margin-block: 5vh;
  align-items: flex-start;
}

.about-me-copy-wrapper h3, h4 {
  text-align: center;
  font-size: 1.4rem;
  margin: 0;
}

.about-me-copy-wrapper p {
  padding: 0 4vw;
  text-align: center;
}

.skills-list-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.front-end-skills-list, .back-end-skills-list {
  display: flex;
  flex-flow: column;
  align-items: center;
}



.back-end-skills-list h4 {
  grid-column: 1 / -1;
}
ul {
  list-style-type: none;
}

/* Menu Buttons */

.menu-buttons {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #A69992;
  padding-bottom: 10px;

}

.menu-button, .resume-download-button, .project-detail-name a  {
  border: none;
  padding: 10px;
  margin-block: 2vh 0;
  border-radius: 10px;
  background: none;
  font-family: 'Molengo';
  color: #D99C79;
  font-size: 2rem;
  transition: 0.3s;
}

.menu-button:hover, .resume-download-button:hover, .project-detail-name a:hover {
  background-color: #D99C79;
  color: #261C1A;
}

/* Resume */

.resume-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 2vh 5vw;
  width: 100%;
}

iframe.resume {
  border: none;
  height: 55vh;
  width: 100%; 
  display: flex;
  justify-content: center;
}

/* Projects */

.portfolio-carousel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 3vh;
  width: 70vw;
  margin: 2vh 0;
}

.project-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 2vh 2vw;
  border-radius: 10px;
  transition: .3s;
  flex: 1;
}

.project-wrapper:hover {
  transform: scale(1.2);
  box-shadow: 0 0 6px 2px rgba(217, 203, 196, 0.4);
}

.project-wrapper img {
  height: 200px;
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-name {
  background-color: #A69992;
  color: #261C1A;
  font-size: 1.3rem;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Project Page */

.project-detail-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 80%;
}

.project-detail-image {
  width: 50%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 6px 2px rgba(217, 203, 196, 0.4);
  margin: 3vh 0 1vh;
}

.project-detail-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #A69992;
  border-radius: 10px;
  padding: 0 3vw;
}

.project-detail-name a {
  text-decoration: none;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Molengo', sans-serif;
  color:#D99C79;
  background-color:#261C1A;
}

.project-detail-name ul{
  display:flex;
  align-items: center;
  align-content: center;
}

.project-detail-name {
  margin-block: 2vh 0;

}

/* .project-detail-description p {
  
  margin: .5vh 0 0;
  
  padding: 15px;

} */

@media screen and (max-width: 600px){
  .page-wrapper {
    display: flex;
    flex-flow: column;
  }

  .gutter {
    height: 8vh;
    position: relative;
  }

  .social-links, .tech-used {
    display: flex;
    flex-flow: row;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    width: 100%;
  }

  .fa-github, .fa-linkedin, .fa-html5, .fa-css3, .fa-js-square, .fa-react, .fa-vuejs, .fa-envelope {
    font-size: 1.7rem;
    margin: .8vh 0;
    transition: 0.3s;
  }

  #mongodb {
    height: 60px;
    width: 60px;
    transform: translateX(-20px);
  }
  
  #postgres {
    height: 33px;
    width: 33px;
    margin: .8vh 0;
  }
  

  .greeting {
    font-family: 'Molengo', sans-serif;
    color:#D99C79;
    font-size: 1rem;
    text-align: center;
  
  }

  .greeting h4 {
    margin: 0;
    font-size: 20px;
  }

  .menu-button, .resume-download-button {
    font-size: 1.3rem;
  }

  .portfolio-carousel {
    display: flex;
    flex-flow: column;
    height: 60vh;
    justify-content: flex-start;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 20px;
    
  }

  .resume-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 2vh 5vw;
    width: 100%;
    height: 56vh;
  }

  .about-me-wrapper {
    height: 55vh;
    margin: 2vh 0 2vh;

  }

  .front-end-skills-list {
    display: flex;
    flex-flow: column;
  }
  .back-end-skills-list {
    display: flex;
    flex-flow: column;
  }

}